.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tableContainer {
	flex: 1;
	height: 100%;
	width: 100%;
	padding: 1px;
}
